.header-title{
    font-size: 1.0rem;
}
.header-panel{
    display: flex;
}
.header-panel-right{
    margin-left: auto;
}
.message-bar{
    margin: 15px 0px 15px 0px ;
}
.header-panel{
    position: static;
}